<app-header></app-header>

<main>
    <div class="favouriteEmpty" *ngIf="favouriteProducts.length === 0">
      <p class="favouriteEmpty__desc">К сожалению, вы ничего не добавили в избранное :(</p>
      <img class="favouriteEmpty__image" src="../../../../../assets/images/sadMan.jpg" alt="">
    </div>
    <ul class="favourites-list">
        <li class="favourites-list__item" *ngFor="let product of favouriteProducts">
          <img class="star" (click)="toggleFavourite(product, star)" [src]="isFavourite(product) ? getActiveStarPath() : getInactiveStarPath()" #star>
            <div class="favourites-item__image">
              <app-carousel [images]="product.images"></app-carousel>
            </div>
            <div class="favourites-item__description" (click)="goToProduct(product.productId)">
              <h2 class="favourites-item__name">{{product.name}}</h2>
              <p class="favourites-item__price">{{getFormattedPrice(product.price)}}</p>
            </div>
        </li>
    </ul>
</main>

<app-footer></app-footer>