<app-header></app-header>
<div class="container">
    <form class="dataSection" [formGroup]="userInfoForm">

        <h2 class="heading">Учётные данные</h2>
        <div class="mainData">
            <div class="dataGroup">
                <p class="blockName">ФИО:</p>
                <ul class="fullNameList">
                    <li class="fullNameList-item">
                        <input class="fullnameInput personalAreaInput" placeholder="Имя" formControlName="firstName" type="text" [(ngModel)]="userData.firstName">
                    </li>
                    <li class="fullNameList-item">
                        <input class="fullnameInput personalAreaInput" placeholder="Фамилия" formControlName="middleName" type="text" [(ngModel)]="userData.middleName">
                    </li>
                    <li class="fullNameList-item">
                        <input class="fullnameInput personalAreaInput" placeholder="Отчество" formControlName="lastName" type="text" [(ngModel)]="userData.lastName">
                    </li>
                </ul>
            </div>

            <div class="dataGroup secondaryDataGroup">
                <div class="secondaryData">
                    <p class="blockName">Почта:</p>
                    <input class="secondaryInfoInput personalAreaInput" placeholder="Почта" formControlName="email" type="text " [(ngModel)]="userData.email">
                </div>

                <div class="secondaryData">
                    <p class="blockName">Дата рождения:</p>
                    <input class="secondaryInfoInput personalAreaInput" placeholder="Дата Рождения" formControlName="birth" type="date" [(ngModel)]="userData.dateOfBirth">
                </div>
            </div>

            <section class="payDataSection">
                <h2 class="heading">Оплата</h2>
                <div class="payData">
                    <p class="blockName">Cпособ оплаты:</p>
                     <select name="PayMethod" class="personalAreaSelect" name="paySelection"> <!-- [(ngModel)]="PayMethod" -->
                        <option value="ShipPay">Оплата при получении заказа</option> 
                        <option value="MasterCard">Оплата на сайте</option> 
                        <option value="Visa">Оплата при погрузке</option> 
                    </select>
                </div>
            </section>
        
            <section class="feedbackDataSection">
                <h2 class="heading">Отзывы</h2>
                <div>
                    <div class="">Мои отзывы:</div>
                </div>
            </section>

            <div class="button-group">
                <button (click)="updateUserInfo()" class="btn save-btn">Сохранить</button>
                <button *ngIf="this.userData.userType == 'Продавец'" (click)="openCreateWindow()" class="btn create-btn">Добавить товар</button>
                <button (click)="exitFromAccount()" class="btn delete-btn">Выйти</button>
            </div>

        </div>
    </form>

    <img class="user-avatar" src="{{userData.userPhotoSrc}}" alt="">

</div>

<app-create-window *ngIf="isCreateOpen"></app-create-window>