<app-header></app-header>
<div class="container">
    <section class="dataSection">

        <h2 class="heading">Учётные данные</h2>
        <div class="mainData">
            <div class="dataGroup">
                <p class="blockName">ФИО:</p>
                <ul class="fullNameList">
                    <li class="fullNameList-item">
                        <input class="fullnameInput personalAreaInput" placeholder="Имя" type="text">
                    </li>
                    <li class="fullNameList-item">
                        <input class="fullnameInput personalAreaInput" placeholder="Фамилия" type="text">
                    </li>
                    <li class="fullNameList-item">
                        <input class="fullnameInput personalAreaInput" placeholder="Отчество" type="text">
                    </li>
                </ul>
            </div>

            <div class="dataGroup secondaryDataGroup">
                <div class="secondaryData">
                    <p class="blockName">Почта:</p>
                    <input class="secondaryInfoInput personalAreaInput" placeholder="Почта" type="text ">
                </div>

                <div class="secondaryData">
                    <p class="blockName">Дата рождения:</p>
                    <input class="secondaryInfoInput personalAreaInput" placeholder="Дата Рождения" type="date">
                </div>
            </div>

            <section class="payDataSection">
                <h2 class="heading">Оплата</h2>
                <div class="payData">
                    <p class="blockName">Cпособ оплаты:</p>
                    <select  class="personalAreaSelect" name="paySelection"> <option value="ShipPay">Оплата при получении заказа</option> <option value="MasterCard">Оплата на сайте</option> <option value="Visa">Оплата при погрузке</option> </select>
                </div>
            </section>
        
            <section class="feedbackDataSection">
                <h2 class="heading">Отзывы</h2>
                <div>
                    <div class="">Мои отзывы:</div>
                </div>
            </section>

        </div>
    </section>

    <img class="user-avatar" src="https://i.pinimg.com/originals/27/b6/64/27b66468f1d09f9735c45b0eaba90278.png" alt="">

</div>