.container{
    padding: 5rem 22.8rem;
    display: flex;
}

.mainData{
    display: flex;
    flex-wrap: wrap;
    gap: 9rem;
}

.heading{
    font: 2rem 'DaysOne', sans-serif;
    margin-top: 5.6rem;
    margin-bottom: 1.1rem;
}

.heading:first-child{
    margin-top: 0;
}

.blockName{
    font: 1.6rem 'DaysOne', sans-serif;
    margin-bottom: 1.6rem;
}

.personalAreaInput{
    padding: 0.6rem;
    background: #D9D9D9;
    color: #000;
    font: 1.6rem 'DaysOne', sans-serif;
}

.personalAreaSelect{
    width: 346px;
    height: 24px;
    background: #D9D9D9;
    color: #000;
    font: 1.4rem 'DaysOne', sans-serif;
}

.fullnameInput{
    width: 34.6rem;
    height: 2.4rem;
}

.secondaryInfoInput{
    width: 22.4rem;
    height: 2.4rem;
}

.fullNameList-item{
    margin-bottom: 1.6rem
}

.fullNameList-item:last-child{
    margin-bottom: 0
}

.secondaryData:last-child{
    margin-top: 2rem;
}

.feedbackDataSection{
    width: 50rem;
}

.user-avatar{
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
}

.button-group{
    display: flex;
    gap: 5rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.8rem;
    height: 5.6rem;
    color: #000;
    background-color: #D9D9D9;
    font: 1.4rem 'DaysOne', sans-serif;
    border: 0.1rem solid #0ABAB5;
    border-radius: 1.8rem;
    transition: all 0.2s ease-out;
}

.save-btn:hover{
    background-color: #AAEB77;
}

.delete-btn:hover{
    background-color: #EB7777;
}

.create-btn:hover{
    background-color: #0ABAB5;
}

.products__title{
    font: 3.6rem 'DaysOne';
    color: #fff;
    margin: 2rem 0;
}

.products__container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.product__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46rem;
    height: 38.4rem;
    background-color: #fff;
    border-radius: 2.5rem;
    padding: 0.8rem 1.6rem;
    gap: 2rem;
}

.product-item__image{
    width: 18rem;
    height: 26.2rem;
}

.product-item__description{
    color: black;
    text-align: center;
}

.product-item__name{
    font: 1.6rem 'DaysOne';
}

.product-item__price{
    font: 1.6rem 'Normalidad';
    color: #CA0D0D;
    font-weight: 700;
}

.product-item__trash{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 2rem;
    left: 40rem;
    cursor: pointer;
}

.secondaryContainer{
    margin-top: 4rem;
    padding: 0 22.8rem;
}

.moreBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 2rem 'DaysOne';
    width: 12.4rem;
    height: 5.6rem;
    color: #000;
    background-color: #fff;
    border: 0.2rem solid #0ABAB5;
    border-radius: 1.8rem;
    margin-top: 2rem;
    margin-left: 131rem;
    cursor: pointer;
}

.statusMessage{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 8.8rem;
    background-color: #AAEB77;
    color: #000;
    border: 0.2rem solid #000;
    border-radius: 1rem;
    bottom: 53rem;
    right: 83rem;
    font: 1.6rem 'DaysOne';
}
