<app-header></app-header>
<div class="container">
    <section class="dataSection">
        <div class="mainData">
            
            <div>
                <h2 class="heading">Учётные данные</h2>
                <p class="blockName">ФИО:</p>
                <ul class="fullNameList">
                    <li class="fullNameList-item">
                        <input class="fullnameInput" type="text">
                    </li>
                    <li class="fullNameList-item">
                        <input class="fullnameInput" type="text">
                    </li>
                    <li class="fullNameList-item">
                        <input class="fullnameInput" type="text">
                    </li>
                </ul>
            </div>
            <div class="dataGroup">
                <div class="secondaryData">
                    <p class="blockName">Почта:</p>
                    <ul class="fullNameList">
                        <li>
                            <input type="text">
                        </li>
                    </ul>
                </div>
                <div class="secondaryData">
                    <p class="blockName">Дата рождения:</p>
                    <ul class="birthdayList">
                        <li>
                            <input type="text">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h2 class="heading">Оплата</h2>

            <ul>
                <li>Cпособ оплаты:</li>
            </ul>
        </div>

        <div>
            <h2 class="heading">Отзывы</h2>
            <div>Мои отзывы:</div>
        </div>

    </section>

    <section class="payDataSection">

    </section>

    <section class="feedbackDataSection">

    </section>
</div>