<div class="overlay" (click)="onBgClick($event)">

  <div class="registration-form" (click)="$event.stopPropagation()">
    
    <h2>Satchel ID</h2>
    <form class="form-details">
      <p class="title"> {{ step$.title }} </p>

      <div class="input-group"> 
        <input class="form-input" [type]="field.type" *ngFor="let field of step$.fields" placeholder="{{field.name}}" (change)="field.name === 'email' ? onEmailChange($event) : onPasswordChange($event)">

        <div *ngIf="errorMsg" class="error-msg">{{this.errorMsg}}</div>

        <div class="select-container" *ngIf="isSwitchVisible">
          <p class="select-choise">Покупатель</p>

          <label class="switch">
            <input class="toggle" name="checkbox" (change)="updateUserTypeName(isChecked)" type="checkbox">
            <span class="slider"></span>
            <span class="card-side"></span>
          </label>

          <p class="select-choise">Продавец</p>
        </div> 
      </div>

      <button type="button" *ngIf="isLoginVisible" class="mainBtn btn" (click)="handleUserLogin()">Войти</button>
      <button type="button" class="secondaryBtn btn" (click)="handleUserRegistration()">Зарегистрироваться</button>

    </form>
  </div>

</div>