<div class="overlay" >
    <div class="registration-form">
      
      <h2>Satchel ID</h2>
      <form>
        <p class="title"> {{ step$.title }} </p>

        <input *ngFor="let field of step$.fields" placeholder="{{field.name}}" (change)="field.name === 'email' ? onEmailChange($event) : onPasswordChange($event)">

        <button type="button" class="mainBtn" (click)="login()">Войти</button>
        <button type="button" class="secondaryBtn" (click)="registration()">Зарегестрироваться</button>
      </form>
    </div>
</div>