<div class="overlay" (click)="onBgClick($event)">

  <div class="registration-form" (click)="$event.stopPropagation()">
    
    <h2>Satchel ID</h2>
    <form class="form-details">
      <p class="title"> {{ step$.title }} </p>

      <div class="input-group">
        <input class="form-input" *ngFor="let field of step$.fields" placeholder="{{field.name}}" (change)="field.name === 'email' ? onEmailChange($event) : onPasswordChange($event)">
      </div>

      <button type="button" class="mainBtn btn" (click)="handleUserLogin()">Войти</button>
      <button type="button"  class="secondaryBtn btn" (click)="handleUserRegistration()">Зарегестрироваться</button>
    </form>
  </div>

</div>