input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container{
    padding: 2rem 20.5rem;
    display: flex;
    flex-wrap: wrap;
}

.settings-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32rem;
    height: 5.6rem;
    border-radius: 3.3rem;
    background-color: #0ABAB5;
    color: #000;
    font-family: 'DaysOne';
    font-size: 1.6rem;
    left: 126rem;
    margin-bottom: 2rem;
}

.product{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47.2rem;
    height: 38.4rem;
    background-color: #fff;
    border-radius: 2.5rem;
    padding: 0.8rem 1.6rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.star{
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 3;
}

.product-image{
    width: 18rem;
    height: 26.2rem;
    margin-bottom: 2rem;
}

.product-description{
    cursor: pointer;
    text-align: center;
    color: #000;
    font: 1.6rem 'DaysOne';
}

.product-name{
    margin-bottom: 2rem;
}

.product-price{
    color: #CA0D0D;
    font-family: 'Normalidad';
    font-weight: 700;
}

.optional-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
    width: 22.4rem;
    height: 46.6rem;
    padding: 2.3rem 2.8rem;
    font: 1.4rem 'DaysOne';
    background-color: #0ABAB5;
    color: #000;
    border-radius: 2.5rem;
}

.optional__search{
    width: 17.8rem;
    height: 3.5rem;
    padding: 0.9rem 1.2rem;
    background: #fff;
    border-radius: 1.8rem;
}

.filter-heading{
    color: #fff;
    margin-bottom: 1.1rem;
}

.optional__price{
    width: 7.4rem;
    height: 3.3rem;
    padding: 0.8rem;
    background: #fff;
    border-radius: 1.3rem;
    font-size: 1.2rem;
}

.left{
    margin-right: 1.3rem;
}

.sex-filter{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
}

.sex-filter__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.sex-filter__item:hover{
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    transform: scale(1.05); 
    border-color: #1a9cb7;
}

.selected{
    background-color: #000;
    color: #0ABAB5;
}

.optional-menu__btnGroup{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.optional-menu__btn{
    position: relative;
    padding: 0.2rem;
}

.optional-menu__btn::before,
.optional-menu__btn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #000;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.optional-menu__btn::before{
    top: 0;
    left: 0;
    transform-origin: left;
}

.optional-menu__btn::after{
    bottom: 0;
    left: 0;
    transform-origin: right;
}

.optional-menu__btn:hover::before,
.optional-menu__btn:hover::after{
    transform: scaleX(1);
}
