<app-header></app-header>

<div class="settings-bar"> 
  <div>Фильтры</div>
  <div>Сортировка</div>
</div>

<div class="container">

  <div class="optional-menu">
    <input class="optional__search" placeholder="Найти" type="text">

    <div class="price-filter">
      <p class="filter-heading">Cортировать по цене:</p>
      <input class="optional__price left" placeholder="Цена от" type="number">
      <input class="optional__price" placeholder="Цена до" type="number">
    </div>

    <div class="sex-filter__container">
      <p class="filter-heading">Сортировать по полу:</p>
      <ul class="sex-filter">
        <li class="sex-filter__item">Мужской</li>
        <li class="sex-filter__item">Женский</li> <!-- тут какая-то хуйня, разберитесь пж, а то они склеились -->
        <li class="sex-filter__item">Унисекс</li>
      </ul>
    </div>

    <div class="clear-section">
      <input type="checkbox" name="clear" id="">
      <label for="clear">Очистить всё</label>
    </div>
    
  </div>

  <div class="product" *ngFor="let product of products">
    <img class="star" (click)="addToFavourite(product, star)" [src]="inactiveStar" alt="" #star>
    <div class="product-image">
      <app-carousel [images]="product.images"></app-carousel>
    </div>
    <div class="product-description" (click)="goToProduct(product.productId)">
      <h2 class="product-name">{{product.productId}}</h2>
      <p class="product-price">{{getFormattedPrice(product.price)}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
