<app-header></app-header>
<body class="page__body">
    <section class="main-section">
        <div class="main-section__carousel carousel">
            <app-carousel class="main-carousel" [images]="images"></app-carousel>
        </div>
        <p class="main-section__about about">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, vitae iure esse praesentium placeat consectetur eveniet, officiis eum doloremque ab alias iusto corrupti, cumque quos!
        </p>
    </section>

    <h1 class="title">Почему вам стоит выбрать именно нас</h1>

    <ul class="advantages-list">
        <li class="advantages-list__item">
            <img class="advantages-list__item__image" src="../../../../../assets/images/shipping.png" alt="">
            <p>Доставляем заказы по всей России совершенно бесплатно!</p>
        </li>

        <li class="advantages-list__item">
            <img class="advantages-list__item__image" src="../../../../../assets/images/payment.png" alt="">
            <p>Вы можете оплатить покупки онлайн или при получении.</p>
        </li>

        <li class="advantages-list__item">
            <img class="advantages-list__item__image" src="../../../../../assets/images/refund.png" alt="">
            <p>Не подошёл размер или модель? Верните товар в течение 14 дней!</p>
        </li>
    </ul>
</body>
<app-footer></app-footer>
