<header>
    <div class="container">
      <a routerLink="">
        <div class="header_logo">
          SATCHEL
        </div>
      </a>
  
      <nav class="header_navigation">
        <ul class="header_nav-list">
          <li class="header_nav-list__item"><a routerLink="">Информация</a></li>
          <li class="header_nav-list__item"><a [routerLink]="['/catalog', 'clothes']">Одежда</a></li>
          <li class="header_nav-list__item"><a [routerLink]="['/catalog', 'shoes']">Обувь</a></li>
          <li class="header_nav-list__item"><a [routerLink]="['/catalog', 'accessories']">Аксессуары</a></li>  
        </ul>
      </nav>
  
      <div class="header_icons">
        <a class="header_icons__item" (click)="routeToFavourites()"><img src="./assets/images/icons/favourites.svg" alt="Favourites"></a>
        <a class="header_icons__item" (click)="routeToShoppingCart()"><img src="./assets/images/icons/bag.svg" alt="Cart"></a>
        <a class="header_icons__item" (click)="openAuthWindow()"><img src="./assets/images/icons/personalArea.svg" alt="My Account"></a>
      </div>

    </div>
</header>
