<footer class="footer-container">
    <div class="footer__info">
        <section class="footer__info-part">
            <h2 class="footer__info-title">Помощь</h2>
            <ul class="footer__info-list">
                <li class="footer__info-list__item">Сатус заказа по номеру</li>
                <li class="footer__info-list__item">Публичная оферта</li>
                <li class="footer__info-list__item">Программа лояльности</li>
            </ul>
        </section>

        <section class="footer__info-part">
            <h2 class="footer__info-title">О нас</h2>
            <ul class="footer__info-list">
                <li class="footer__info-list__item">Журнал</li>
                <li class="footer__info-list__item">Подарочные сертификаты</li>
                <li class="footer__info-list__item">Стать подрядчиком  Satchel</li>
            </ul>
        </section>
 
        <section class="footer__info-part">
            <h2 class="footer__info-title">Способы оплаты</h2>
            <ul class="footer__info-list">
                <li class="footer__info-list__item">Visa</li>
                <li class="footer__info-list__item">MasterCard</li>
                <li class="footer__info-list__item">МИР</li>
                <li class="footer__info-list__item">Оплата при получении</li>
            </ul>
        </section>
    </div>

    <div class="socialNetwork-section">
        <h2 class="footer__info-title">Мы в социльных сетях</h2>
        <div class="socialNetwork-section__images">
            <img src="../../../../assets/images/icons/instagram.svg" alt="">
            <img src="../../../../assets/images/icons/telegram.svg" alt="">
            <img src="../../../../assets/images/icons/vk.svg" alt="">
        </div>
    </div>
</footer>
