<app-header></app-header>

<main class="container">
    <ul class="cart-list">
        <li class="cart-list__item" *ngFor="let product of shoppingCart">
            <div class="cart-list__item__image">
                <app-carousel [images]="product.images"></app-carousel>
            </div>

            <div class="cart-list__item__info">
                <img class="cart-list__item__trash" (click)="deleteProductFromProductCart(product.productId)" src="../../../../../assets/images/icons/trash.svg" alt="">

                <div class="cart-list__item__price">{{getFormatPrice(product.price)}}</div>

                <div class="cart-list__item__size">{{product.sizeName}}</div>
            </div>
        </li>
    </ul>

    <div class="cartInfo">
        <h2 class="cartInfo__heading">Информация об оплате:</h2>

        <ol class="cartInfo-list">
            <li class="cartInfo-list__item" *ngFor="let product of shoppingCart">
                <p class="cartInfo__item__name">{{product.name}}</p>
                <p class="cartInfo__item__price">{{getFormatPrice(product.price)}}</p>
                <p class="cartInfo__item__size">{{product.sizeName}}</p>
            </li>

            <li class="cartInfo-list__item">
                <p class="">Итого:</p>
                <p>{{getFormatPrice(finalPrice)}}</p>
            </li>
        </ol>

        <select class="cart-list__select" name="" id="">
            <option value="" selected disabled hidden>Способ оплаты</option>
            <option value="">На месте получения</option>
            <option value="">Добавить новую карту</option>
        </select>

        <div class="cartInfo__promoSection">
            <label class="cartInfo__promoSection__label" for="">Ввести промокод:</label>
            <input class="cartInfo__promoSection__input" type="text">
        </div>

        <button class="buyBtn">Оплатить</button>
    </div>
</main>

<app-footer></app-footer>