.container{
    display: flex;
    height: 80vh;
    gap: 2.4rem;
    margin: 8rem 22.8rem;
}

.cart-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.cart-list__item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42.4rem;
    height: 42.4rem;
    padding: 4rem;
    font: 1.6rem 'DaysOne';
    background-color: #fff;
    border-radius: 2.5rem;
}

.cart-list__item__image{
    width: 25rem;
    height: 25rem;
}

.cart-list__item__trash{
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 35rem;
    left: 4rem;
    cursor: pointer;
}

.cart-list__item__price{
    position: absolute;
    left: 17rem;
    top: 35.5rem;
    color: #000;
    font-size: 24px;
}

.cart-list__item__size{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.2rem;
    height: 5.6rem;
    background-color: #0ABAB5;
    top: 34.5rem;
    left: 32rem;
    border-radius: 1rem;
}

.cartInfo{
    position: absolute;
    left: 130rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 47.2rem;
    height: 61.6rem;
    padding: 2.6rem 4.3rem;
    color: #000;
    background-color: #D9D9D9;
    font: 1.6rem 'DaysOne';
    border: 0.4rem solid #0ABAB5;
    border-radius: 2.5rem;
}

.cartInfo__heading{
    font-size: 2.4rem;
    text-align: center;
}

.cartInfo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 35.4rem;
    height: 13.8rem;
    padding: 1rem;
    background-color: #fff;
    list-style-type: decimal
}

.cartInfo-list__item{
    display: flex;
    gap: 3rem;
}

.cart-list__select{
    width: 35.4rem;
    height: 6rem;
    background-color: #fff;
    border: 0.1rem solid #000;
    text-align: center;
    margin-bottom: 6rem;
}

.cartInfo__promoSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.4rem;
    height: 5.5rem;
    background-color: #fff;
    border: 0.1rem solid #000;
}

.cartInfo__promoSection__label{
    font-size: 1.2rem;
    margin-right: 1.6rem;
}

.cartInfo__promoSection__input{
    width: 17.2rem;
    height: 2.2rem;
    background-color: #D9D9D9;
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.6rem;
    border: 0.1rem solid #000;
}

.buyBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.9rem;
    height: 6.6rem;
    background-color: #000;
    color: #fff;
    font-size: 2.4rem;
    border-radius: 1.3rem;
    border: 0.3rem solid #0ABAB5;
}